/* Цвета */

:root {
    --basic-white: #ffffff;
    --basic-gray: #eeeeee;
    --basic-black: #000000;
    --basic-red: #fb565a;
    --basic-green: #00ca74;
    --basic-yellow: #efc849;

    --hover-red: #E74246;
    --hover-green: #00BC6C;
    --hover-yellow:#EAB534;

    --active-red: #D7373B;
    --active-green: #00AA62;
    --active-yellow: #E5A722;

    --form-default: #D7DCDE;
    --form-hover: #B4B9BB;
    --form-focus: #000000;
    --form-error: #E74246;
}

/* Общее */

.page-body {
    min-width: 1160px;
    padding: 0;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-black);
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .visually-hidden {
    display: none;
}

/* Навигация */

.nav {
  display: flex;
  flex-direction: row;
}

.menu,
.user {
  display: flex;
  flex-direction: row;
  list-style: none;

}

.menu a,
.user a {
  font: inherit;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
}

.menu a:hover,
.user a:hover {
  color: var(--basic-red);
}

.menu a:active,
.user a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.menu-item,
.user-item {
  margin-left: 20px;
}

/* Слайдер */

.hero-slides {
  list-style: none;
}

.hero-slide-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

}

.hero-slide .btn {
  font: inherit;
  text-transform: uppercase;
  color:var(--basic-white);
  background-color: var(--basic-red);
  padding: 16px 54px;
  border-radius: 3px;

}

.hero-slide .btn:hover {
  background-color: var(--hover-red);
}

.hero-slide .btn:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  background-color: var(--active-red);
}



/* Услуги */

.service-list {
  list-style: none;
  display: flex;
  flex-direction: row;

}

.service-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.service-list-item .btn {
  font: inherit;
  color: var(--basic-white);
  text-transform: uppercase;
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
}

.service-list-item .btn-red {
  background-color: var(--basic-red);
}

.service-list-item .btn-red:hover {
  background-color: var(--hover-red);
}

.service-list-item .btn-red:active {
  background-color: var(--active-red);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.service-list-item .btn-green {
  background-color: var(--basic-green);
}

.service-list-item .btn-green:hover {
  background-color: var(--hover-green);
}

.service-list-item .btn-green:active {
  background-color: var(--active-green);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.service-list-item .btn-yellow {
  background-color: var(--basic-yellow);
}

.service-list-item .btn-yellow:hover {
  background-color: var(--hover-yellow);
}

.service-list-item .btn-yellow:active {
  background-color: var(--active-yellow);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* О компании */

.company-lead {
font-weight: 500;
font-size: 45px;
line-height: 45px;
}

.company-title {
  font-weight: bold;
  text-transform: uppercase;
}

.company-list {
  list-style: none;
  padding-left: 2px;
}


.company-list-item {
  background: url(../img/about/Rectangle.png) no-repeat 0 center;
  padding-left: 32px;
}

.company-stats {
  list-style: none;
}

/* Клиенты */

.clients-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top: 46px;
  padding-bottom: 44px;
  border-top: 2px solid var(--basic-gray);
  border-bottom: 2px solid var(--basic-gray);
}

.client-list-img {
  opacity: 0.2;
}

.client-list-img:hover {
  opacity: 1;
}

.client-list-img:active {
  opacity: 0.1;
}

/* Подвал сайта */

/* Контакты */
.contact-block-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contact-block-adrress {
  line-height: 18px;
}

.contact-block-phone {
  color: inherit;
  line-height: 18px;
}

.contact-block .btn {
  font: inherit;
  text-transform: uppercase;
  color:var(--basic-white);
  background-color: var(--basic-red);
  padding: 17px 44px 15px 44px;
  border-radius: 3px;
}

.contact-block .btn:hover {
  background-color: var(--hover-red);
}

.contact-block .btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--active-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Соцсети */

.social {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.social-item {
  width: 81px;
  height: 81px;
  margin-right: 9px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

/* .social-link {

} */

/* Скидка */

.footer-discount-text {
  line-height: 22px;
}

.footer-discount-lead {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

 /* Модальная форма */

.modal-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.modal label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.modal input {
  border: 2px solid var(--form-default);
  border-radius: 3px;
}

.modal input:hover {
  border-color: var(--form-hover);
}

.modal .btn {
  font: inherit;
  color:var(--basic-white);
  background-color: var(--basic-red);
  padding: 17px 83px 15px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal .btn:hover {
  background-color: var(--hover-red);
}

.modal .btn:active {
  background-color: var(--active-red);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}






