/*======================================
Variables
========================================*/

:root {
  /* Color */
  --white: #ffffff;
  --gray-100: #eeeeee;
  --gray-200: #e1e1e1;
  --gray-300: #d7dcde;
  --gray-400: #DBDBDB;
  --gray-500: #dfdfdf;
  --gray-600: #d5d5d5;
  --gray-700: #c1c1c1;
  --gray-800: #b4b9bb;
  --gray-900: #a6a6a6;
  --gray-1000: #ababab;
  --gray-1100: #666666;
  --gray-1200: #444444;
  --gray-1300: #283136;
  --black: #000000;
  --red-100: #fb565a;
  --red-200: #e74246;
  --red-300: #d7373b;
  --green-100: #00ca74;
  --green-200: #00bc6c;
  --green-300: #00aa62;
  --yellow-100: #efc849;
  --yellow-200: #eab534;
  --yellow-300: #e5a722;
  /* Text */
  --font-family: "Roboto", Arial, Helvetica, sans-serif;
  --font-size: 16px;
  /* Decoration */
  --shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  --transition: all 0.3s ease;
}

/*======================================
Global
========================================*/

.page {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.page-body {
  min-width: 1200px;
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* indent */

.r-indent {
  margin: 0;
  padding: 0;
}

.r-indent-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.r-indent-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.visually-hidden, .visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-border {
  border-bottom: 2px solid var(--gray-100);
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/*======================================
Buttons
========================================*/

.btn {
  display: inline-block;
  border: 0;
  border: none;
  transition: var(--transition);
  text-align: center;
  text-decoration: none;
  line-height: 18px;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
  padding: 16px 40px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.btn:active {
  box-shadow: var(--shadow);
  color: rgba(255, 255, 255, 0.3);
}

.btn-red {
  background-color: var(--red-100);
}

.btn-red:hover, .btn-red:focus {
  background-color: var(--red-200);
  transition: var(--transition);
}

.btn-red:active {
  background-color: var(--red-300);
}

.btn-green {
  background-color: var(--green-100);
}

.btn-green:hover, .btn-green:focus {
  background-color: var(--green-200);
  transition: var(--transition);
}

.btn-green:active {
  background-color: var(--green-300);
}

.btn-yellow {
  background-color: var(--yellow-100);
}

.btn-yellow:hover, .btn-yellow:focus {
  background-color: var(--yellow-200);
  transition: var(--transition);
}

.btn-yellow:active {
  background-color: var(--yellow-300);
}

.btn-gray {
  background-color: var(--gray-100);
  color: var(--black);
}

.btn-gray:hover, .btn-gray:focus {
  background-color: var(--gray-400);
  transition: var(--transition);
}

.btn-gray:active {
  background-color: var(--gray-500);
  color: rgba(0, 0, 0, 0.3);
}

/*======================================
Header
========================================*/

/* Navigation */

.header-bar {
  background-color: var(--gray-100);
}

.header {
  margin-top: 49px;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  max-width: 427px;
  justify-content: space-between;
  width: 100%;
}

.menu-link {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
}

.user-link {
  padding-left: 40px;
  position: relative;
}

.user-link::before {
  position: absolute;
  width: 15px;
  height: 15px;
  content: "";
  background: url(/img/header/cart-icon.svg) no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
}

.menu-link:hover, .menu-link:focus {
  color: var(--red-100);
  transition: var(--transition);
}

.menu-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/*======================================
Sliders
========================================*/

.hero-slide-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.hero-slides-btn {
  padding: 16px 54px;
}

/*======================================
Service
========================================*/

.services {
  padding-bottom: 80px;
  border-bottom: 2px solid var(--gray-100);
}

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 105px;
}

.service-list-item-red {
  display: inline-block;
  background-color: var(--red-100);
  width: 300px;
  height: 146px;
}

.service-list-item-green {
  background-color: var(--green-100);
  display: inline-block;
  width: 300px;
  height: 146px;
}

.service-list-item-yellow {
  background-color: var(--yellow-100);
  display: inline-block;
  width: 300px;
  height: 146px;
}

.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding-top: 25px;
}

.sevice-text {
  padding-top: 16px;
  padding-bottom: 32px;
  max-width: 260px;
}

/*======================================
About
========================================*/

.company {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 39px;
}

.company-lead {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  padding-bottom: 32px;
}

.company-text {
  padding-bottom: 40px;
}

.company-title {
  padding-top: 31px;
  padding-bottom: 23px;
  font-weight: 700;
  text-transform: uppercase;
}

.company-stats {
  display: flex;
  padding-top: 37px;
}

.company-stats-count {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.company-stats-percent {
  font-size: 26px;
  line-height: 40px;
}

.company-list-item {
  position: relative;
  padding-left: 35px;
}

.company-list-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  left: 0;
  transform: translateY(-50%);
  top: 50%;
  background-color: var(--red-100);
}

.company-column-right {
  padding-bottom: 73px;
  padding-top: 39px;
}

.company-column-left {
  width: 651px;
  padding-top: 73px;
}

/*======================================
Clients
========================================*/

.clients {
  border-top: 2px solid var(--gray-100);
  border-bottom: 2px solid var(--gray-100);
}

.clients-list {
  display: grid;
  position: relative;
  grid-template-columns: 279px 300px 300px 279px;
  align-items: center;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 44px;
}

.client-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-list-img {
  opacity: 0.2;
}

.client-list-img:hover {
  opacity: 1;
  transition: var(--transition);
}

.client-list-img:active {
  opacity: 0.1;
}

.client-list-item:not(:first-child)::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 52px;
  background-color: var(--gray-100);
  top: 50%;
  transform: translateY(-50%);
}

/*======================================
Footer
========================================*/

.footer {
  margin-top: 80px;
  margin-bottom: 68px;
}

/* Contacts */

.contact-block-address {
  line-height: 18px;
}

.contact-block-phone {
  color: inherit;
  line-height: 18px;
}

.contact-block-btn {
  padding: 16px 44px;
}

/* Соцсети */

.footer-discount {
  display: grid;
  grid-template-columns: 400px 660px;
  margin-top: 68px;
}

.social {
  display: flex;
  justify-content: space-between;
  max-width: 269px;
  width: 100%;
}

.social-link {
  width: 81px;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-200);
  border-radius: 50%;
}

.social-link:hover {
  background-color: var(--red-200);
  transition: var(--transition);
}

.social-link:active {
  background-color: var(--red-300);
  box-shadow: var(--shadow);
  fill-opacity: 0.3;
}

.social-link svg {
  fill: var(--white);
}

/* discount */

.footer-discount-text {
  line-height: 22px;
}

.footer-discount-lead {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

/*======================================
Modal
========================================*/

/* modal-form */

.modal-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.modal label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.modal input {
  border: 2px solid var(--gray-300);
  border-radius: 3px;
}

.modal input:hover {
  border-color: var(--gray-700);
}

.modal input:focus {
  border-color: var(--black);
  color: var(--black);
}

.modal textarea {
  border: 2px solid var(--gray-300);
  border-radius: 3px;
}

.modal textarea:hover {
  border-color: var(--gray-700);
}

.modal textarea:focus {
  border-color: var(--black);
  color: var(--black);
}

/*======================================
CATALOG
========================================*/

.menu-link-active::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--red-100);
}

.catalog {
  margin-top: 55px;
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: 260px 758px;
  justify-content: space-between;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 358px);
  grid-gap: 30px 42px;
}

/*======================================
Filter
========================================*/

/* Left column */

.fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  border: 0;
}

.fieldset:nth-child(1) {
  margin-bottom: 54px;
}
.fieldset:nth-child(2) {
  margin-bottom: 46px;
}
.fieldset:nth-child(3) {
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.filter-title {
  margin-bottom: 16px;
}

.filter-item {
  display: block;
  position: relative;
}

.radio + .filter-text::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  left: 0;
  /* top: 50%;
  transform: translateY(-50%); */
  background: url(/img/catalog/radio-off.svg) no-repeat center/contain;
}

.radio:checked + .filter-text::before {
  background: url(/img/catalog/radio-on.svg) no-repeat center;
}

.checkbox + .filter-text::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  left: 0;
  background: url(/img/catalog/checkbox-off.svg) no-repeat center/contain;
}

.checkbox:checked + .filter-text::before {
  background: url(/img/catalog/checkbox-on.svg);
  width: 25px;
}


.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  width: 727px;
  margin: 0 auto;
  padding-top: 78px;
  padding-bottom: 108px;
  background-color: var(--gray-100);
}

.filter-text {
  padding-left: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray-1200);
  cursor: pointer;
}

.filter-btn {
  padding: 17px 89px 15px 88px;
}

/* Right column */

.catalog-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.sort-list {
  display: flex;
  max-width: 359px;
  justify-content: space-between;
  width: 100%;
}

.sort-link {
  color: var(--black);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-link-disabled {
  color: rgba(0, 0, 0, 0.3);
}

.sort-link-disabled:hover {
  color: rgba(0, 0, 0, 0.6);
  transition: var(--transition);
}

.sort-item-type-up {
  padding-left: 18px;
}

.sort-item-type-down path {
  fill: var(--black);
}

.sort-item-type-up path {
  fill: rgba(82, 82, 82, 0.2);
}

.sort-item-type-up:hover path {
  fill: rgb(82, 82, 82);
  transition: var(--transition);
}

/* card */

.product-item {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.product-item-browser {
  opacity: 0.12;
}

.product-item-overlay {
  position: absolute;
  text-align: center;
  padding: 26px 80px 44px;
  background-color: var(--gray-100);
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}

.product-item-link {
  display: flex;
  flex-direction: column;
}

.product-item-text {
  color: var(--gray-1000);
  font-size: 16px;
  line-height: 18px;
}

.product-item-title a {
  color: var(--black);
  text-transform: uppercase;
}

.product-item:hover, .product-item:active {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
}

.product-item:hover .product-item-browser, .product-item:active .product-item-browser {
  opacity: 1;
  transition: var(--transition);
}

.product-item:hover .product-item-overlay, .product-item:active .product-item-overlay {
  transform: translateY(0);
  transition: all 0.4s ease-in;
}

.product-item-overlay .btn {
  padding: 15px 72px 17px;
}

/* Pagination */

.pagination {
  display: flex;
  padding-top: 54px;
}

.pagination-item {
  margin-right: 11px;
}

.pagination .btn {
  padding: 15px 20px 17px 20px;
}

.pagination .pagination-link-next {
  padding: 17px 77px 15px 78px;
}

.pagination-link-active {
  outline: 3px solid var(--gray-400);
  outline-offset: -3px;
  background-color: var(--white);
  border-radius: 3px;
}
