/*======================================
Variables
========================================*/

:root {
  /* Color */
  --white: #ffffff;
  --grey-100: #eeeeee;
  --grey-200: #e1e1e1;
  --grey-300: #d7dcde;
  --grey-400: #dbdbdb;
  --grey-0400: #fbfbfb;
  --grey-500: #dfdfdf;
  --grey-600: #d5d5d5;
  --grey-700: #c1c1c1;
  --grey-800: #b4b9bb;
  --grey-900: #a6a6a6;
  --grey-1000: #ababab;
  --grey-1100: #666666;
  --grey-1200: #444444;
  --grey-1300: #283136;
  --black: #000000;
  --black-100: #231f20;
  --red-100: #fb565a;
  --red-200: #e74246;
  --red-300: #d7373b;
  --green-100: #00ca74;
  --green-200: #00bc6c;
  --green-300: #00aa62;
  --yellow-100: #efc849;
  --yellow-200: #eab534;
  --yellow-300: #e5a722;
  --opacity100: rgba(0, 0, 0, 0.3);
  --opacity200: rgba(0, 0, 0, 0.6);
  /* Text */
  --font-family: "Roboto", Arial, Helvetica, sans-serif;
  --font-size: 16px;
  /* Decoration */
  --shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  --transition: all 0.3s ease;
}

/*======================================
Global
========================================*/

.page {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.page-body {
  min-width: 1200px;
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* indent */

.r-indent {
  margin: 0;
  padding: 0;
}

.r-indent-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-border {
  border-bottom: 2px solid var(--grey-100);
}

.container {
  max-width: 1157px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*======================================
Buttons
========================================*/

.btn {
  display: inline-block;
  border: 0;
  border: none;
  transition: var(--transition);
  text-align: center;
  text-decoration: none;
  line-height: 18px;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
  padding: 16px 40px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.btn:active {
  box-shadow: var(--shadow);
  color: rgba(255, 255, 255, 0.3);
}

.btn-red {
  background-color: var(--red-100);
}

.btn-red:hover,
.btn-red:focus {
  background-color: var(--red-200);
  transition: var(--transition);
}

.btn-red:active {
  background-color: var(--red-300);
}

.btn-green {
  background-color: var(--green-100);
}

.btn-green:hover,
.btn-green:focus {
  background-color: var(--green-200);
  transition: var(--transition);
}

.btn-green:active {
  background-color: var(--green-300);
}

.btn-yellow {
  background-color: var(--yellow-100);
}

.btn-yellow:hover,
.btn-yellow:focus {
  background-color: var(--yellow-200);
  transition: var(--transition);
}

.btn-yellow:active {
  background-color: var(--yellow-300);
}

.btn-grey {
  background-color: var(--grey-100);
  color: var(--black);
}

.btn-grey:hover,
.btn-grey:focus {
  background-color: var(--grey-400);
  transition: var(--transition);
}

.btn-grey:active {
  background-color: var(--grey-500);
  color: rgba(0, 0, 0, 0.3);
}

/*======================================
Header
========================================*/

/* Navigation */

.header {
  padding-top: 49px;
  background-color: var(--grey-100);
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  max-width: 427px;
  justify-content: space-between;
  width: 100%;
}

.menu-link {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
}

.user-link {
  padding-left: 40px;
  position: relative;
}

.user-link::before {
  position: absolute;
  width: 15px;
  height: 15px;
  content: "";
  background: url(/img/header/cart-icon.svg) no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--red-100);
  transition: var(--transition);
}

.menu-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/*======================================
Hero
========================================*/

.hero {
  background-color: var(--grey-100);
  min-height: 431px;
  position: relative;
}

.hero-wrapper {
  overflow: hidden;
}

.hero-slides {
  display: flex;
  width: 300%;
  background-position: right center;
  background-repeat: no-repeat;
  background-color: var(--grey-100);
}

.hero-slide-content {
  max-width: 400px;
}

.hero-slide {
  flex-basis: 100%;
  min-height: 431px;
  padding-top: 78px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: var(--grey-100);
}

.hero-slide-title {
  padding: 0;
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom: 25px;
}

.hero-slide-text {
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}

.hero-slide:nth-child(1) {
  background-image: url(/img/hero/slide-1.png);
}

.hero-slide:nth-child(2) {
  background-image: url(/img/hero/slide-2.png);
}

.hero-slide:nth-child(3) {
  background-image: url(/img/hero/slide-3.png);
}

.hero-controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 80px;
  display: flex;
  max-width: 88px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.hero-controls-dot {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--white);
  border: 0;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  padding: 0;
  margin: 0;
}

.hero-controls-dot-active {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-controls-dot-active::after {
  position: absolute;
  content: "";
  border: 2px solid var(--grey-700);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/*======================================
Service
========================================*/

.services {
  padding-bottom: 80px;
}

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 105px;
}

.service-list-item-red {
  display: inline-block;
  background-color: var(--red-100);
  width: 300px;
  height: 146px;
}

.service-list-item-green {
  background-color: var(--green-100);
  display: inline-block;
  width: 300px;
  height: 146px;
}

.service-list-item-yellow {
  background-color: var(--yellow-100);
  display: inline-block;
  width: 300px;
  height: 146px;
}

.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding-top: 25px;
}

.sevice-text {
  padding-top: 16px;
  padding-bottom: 32px;
  max-width: 260px;
}

/*======================================
About
========================================*/

.company {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 39px;
}

.company-lead {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  padding-bottom: 32px;
}

.company-text {
  padding-bottom: 40px;
}

.company-title {
  padding-top: 31px;
  padding-bottom: 23px;
  font-weight: 700;
  text-transform: uppercase;
}

.company-stats {
  display: flex;
  padding-top: 37px;
}

.company-stats-count {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.company-stats-percent {
  font-size: 26px;
  line-height: 40px;
}

.company-list-item {
  position: relative;
  padding-left: 35px;
}

.company-list-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  left: 0;
  transform: translateY(-50%);
  top: 50%;
  background-color: var(--red-100);
}

.company-column-right {
  padding-bottom: 73px;
  padding-top: 39px;
}

.company-column-left {
  width: 651px;
  padding-top: 73px;
}

/*======================================
Clients
========================================*/

.clients-list {
  display: grid;
  grid-template-columns: 279px 300px 300px 279px;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 44px;
}

.client-list-item {
  position: relative;
}

.client-list-item:not(:first-child)::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--grey-100);
  top: 50%;
  transform: translateY(-50%);
}

.client-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-list-img {
  opacity: 0.2;
  transition: var(--transition);
}

.client-list-link:hover .client-list-img,
.client-list-link:focus .client-list-img {
  opacity: 1;
}

.client-list-link:active .client-list-img {
  opacity: 0.1;
}

/*======================================
Footer
========================================*/

/* Contacts */

.contact-block {
  max-width: 319px;
  width: 100%;
  color: var(--grey-1100);
  padding: 49px 50px 47px;
  max-width: 319px;
}

.contact-block-title {
  padding-top: 49px;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
}

.contact-block-adrress {
  line-height: 18px;
  margin-bottom: 16px;
}

.contact-block-phone-wrapper {
  margin-bottom: 37px;
}

.contact-block-phone {
  color: inherit;
  line-height: 18px;
}

.contact-block-btn {
  padding: 16px 44px;
  max-width: 100%;
}

/* Соцсети */

.footer-discount {
  display: grid;
  grid-template-columns: 400px 660px;
  margin-top: 68px;
}

.social {
  display: flex;
  justify-content: space-between;
  max-width: 269px;
  width: 100%;
}

.social-link {
  width: 81px;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-200);
  border-radius: 50%;
}

.social-link:hover {
  background-color: var(--red-200);
  transition: var(--transition);
}

.social-link:active {
  background-color: var(--red-300);
  box-shadow: var(--shadow);
  fill-opacity: 0.3;
}

.social-link svg {
  fill: var(--white);
}

/* discount */

.footer-discount-text {
  line-height: 36px;
}

.footer-discount-lead {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

/*======================================
Modal
========================================*/

/* modal-form */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  max-width: 960px;
  width: 100%;
  padding: 63px 90px 84px 100px;
  background-color: #fff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 37px;
}

.modal-exit {
  position: absolute;
  top: 82px;
  right: 80px;
  border: 0;
  border: none;
  outline: none;
  outline: 0;
  background-color: #fff;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-label {
  width: calc(100% / 2 - 20px);
}

.modal-label:nth-child(3) {
  width: 100%;
  margin-top: 34px;
  margin-bottom: 47px;
}

.modal-label-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: block;
}

.modal input {
  border: 2px solid var(--grey-300);
  border-radius: 3px;
  transition: var(--transition);
  width: 100%;
  padding: 16px;
  margin-top: 9px;
}

.modal input:hover {
  border-color: var(--grey-700);
}

.modal input:focus {
  border-color: var(--black);
  color: var(--black);
}

.modal textarea {
  border: 2px solid var(--grey-300);
  border-radius: 3px;
  width: 100%;
  padding: 16px;
  margin-top: 9px;
}

.modal textarea:hover {
  border-color: var(--grey-700);
}

.modal textarea:focus {
  border-color: var(--black);
  color: var(--black);
}

/*======================================
CATALOG
========================================*/

.menu-link-active::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--red-100);
}

.page-title {
  padding-top: 78px;
  padding-bottom: 108px;
  background-color: var(--grey-100);
  text-align: center;
}

.page-title-headline {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.catalog {
  padding-top: 55px;
  padding-bottom: 60px;
}

.catalog-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.catalog-container {
  display: grid;
  grid-template-columns: 260px 758px;
  justify-content: space-between;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 358px);
  grid-gap: 30px 42px;
  margin-bottom: 54px;
}

/*======================================
Filter
========================================*/

/* Left column */

.fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  border: 0;
}

.fieldset:nth-child(1) {
  margin-bottom: 54px;
}

.fieldset:nth-child(2) {
  margin-bottom: 46px;
}

.fieldset:nth-child(3) {
  margin-bottom: 50px;
}

.filter-list {
  margin-top: 16px;
}

.filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.fieldset-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-filter {
  margin-top: 48px;
  width: 260px;
}
.range-controls {
  position: relative;
  padding: 39px 22px 0 22px;
  height: 41px;
  margin-bottom: 14px;
  background-color:var(--grey-100);
  border-radius: 3px;
}
.scale {
  height: 2px;
  background-color: var(--grey-300);
}
.bar {
  height: 2px;
  width: 70%;
  background-color: var(--green-100);
}
.toggle {
  position: absolute;
  background-color: var(--grey-1000);
  border: 8px solid var(--white);
  border-radius: 50%;
  padding: 0;
  width: 4px;
  height: 4px;
  top: 30px;
  left: 0;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.toggle-min {
  left: 18px;
}
.toggle-max {
  left: 160px;
}
.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 11px;
  text-align: center;
  border: 0;
  border-radius: 3px;
  color :var(--grey-1300);
  background-color: var(--grey-100);
}
.min-price {
}
.max-price {
}

.filter-item {
  display: block;
  position: relative;
}

.radio + .filter-text::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(/img/catalog/radio-off.svg) no-repeat center/contain;
}

.radio:checked + .filter-text::before {
  background: url(/img/catalog/radio-on.svg) no-repeat center;
}

.checkbox + .filter-text::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  left: 0;
  background: url(/img/catalog/checkbox-off.svg) no-repeat center/contain;
}

.checkbox:checked + .filter-text::before {
  background: url(/img/catalog/checkbox-on.svg);
  width: 25px;
}

.filter-text {
  padding-left: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--grey-1200);
  cursor: pointer;
}

.filter-btn {
  padding: 17px 89px 15px 88px;
}

/* Right column */

.catalog-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  align-items: center;
}

.sort-list {
  display: flex;
  max-width: 359px;
  justify-content: space-between;
  width: 100%;
}

.sort-link {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  transition: var(--transition);
}

.sort-link:hover,
.sort-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-link:active {
  color: var(--black);
}

.sort-link-active,
.sort-link-active:hover,
.sort-link-active:focus {
  color: var(--black);
  cursor: default;
}

.sort-item-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 40px;
  width: 100%;
}

.sort-item-type-link path {
  fill: var(--grey-0400);
  transition: var(--transition);
}

.sort-item-type-link:hover path,
.sort-item-type-link:focus path {
  fill: var(--grey-900);
}

.sort-item-type-link:active path {
  fill: var(--black-100);
}

.sort-item-type-link-active path,
.sort-item-type-link-active:hover path,
.sort-item-type-link-active:focus path {
  fill: var(--black-100);
  cursor: default;
}

/* card */

.product-item {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  transition: var(--transition);
}

.product-item-browser {
  opacity: 0.12;
}

.product-item-overlay {
  position: absolute;
  text-align: center;
  padding: 26px 53px 44px;
  background-color: var(--grey-100);
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}

.product-item-link {
  display: flex;
  flex-direction: column;
}

.product-item-title {
  margin: 0;
  padding: 0;
}

.product-item-title a {
  color: var(--black);
  text-transform: uppercase;
}

.product-item-text {
  color: var(--grey-1000);
  font-size: 16px;
  line-height: 18px;
}

.product-item:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
}

.product-item:hover .product-item-browser {
  opacity: 1;
}

.product-item:hover .product-item-overlay {
  transform: translateY(0);
  transition: all 0.4s ease-in;
}

.product-item-overlay .btn {
  padding: 15px 72px 17px;
}

/* Pagination */

.pagination {
  display: flex;
  max-width: 443px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination-link {
  padding: 15px 20px 17px 20px;
}

.pagination .pagination-link-next {
  padding: 17px 77px 15px 78px;
}

.pagination-link-active {
  border: 3px solid var(--grey-400);
  background-color: var(--white);
  padding: 12px 17px 14px 17px;
  cursor: default;
}

.pagination-link-active:active,
.pagination-link-active:hover,
.pagination-link-active:focus {
  box-shadow: none;
  color: black;
  background-color: var(--white);
}
